.feedback {
    display: flex;
    gap: 10px;
    padding: .8rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(35, 35, 46, 0.1) 0px 0px 16px;
    width: 100%;

}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.success {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 12px solid var(--light-grey);
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 12px solid lightyellow;
}

.info {
    color: var(--dark-blue);
    background-color: #cce5ff;
    border: 12px solid#e7f0f4;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 12px solid #ebccd1;
}

.message {
    padding: 2px 0;
}