.empty-shelf {
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 100%;
    height: 70vh;
    position: relative;
    top: 10vh;
}

.empty-shelf figure {
    width: min(60%, 300px);
    margin: 0 auto 1.5rem;
}

.empty-shelf figure img {
    width: 100%;
}

.empty-shelf article {
    max-width: 400px;
    margin: 0 auto;
}

.empty-shelf article h2 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 700;
    color: var(--dark-blue);
    font-family: "Roboto", sans-serif;
}

.empty-shelf article p {
    padding: 1rem 0;
    color: var(--med-grey);
}

/* Media Queries */

@media (min-width:768px) {
    .empty-shelf {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 56.25rem;
        margin: 0 auto;
        height: 50vh;
    }

    .empty-shelf article {
        text-align: left;
    }
}