.context-menu {
    position: absolute;
    background-color: var(--white);
    z-index: 5;
    font-weight: 700;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.308);
}

.context-menu p {
    padding: .8rem;
    cursor: pointer;
    /* border-bottom: 1px solid var(--dark-blue); */
}

.context-menu p:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
}