.search {
    position: relative;
    width: 70%;
}

.search__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--med-grey);
}

.search input {
    border: 1px solid var(--yellow);
    /* background-color: var(--light-yellow); */
    border-radius: 50px;
    padding: 8px 15px;
    color: var(--yellow);
    width: 100%;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: var(--yellow);
    font-size: .9rem;
}

/* Media Queries */

@media (min-width: 768px) {
    .search input {
        padding: 10px 15px;
    }
}

@media (min-width: 800px) {
    .search {
        width: 60%;
    }
}