.menu {
    position: fixed;
    top: 0;
    left: 0%;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    width: 100%;
    min-height: 90vh;
    height: 100%;
    z-index: 2;
}

.menu__header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.menu__logo {
    width: 1.5rem;
    height: 1.5rem;
}

.menu__logo img {
    width: 100%;
    height: 100%;
}

.menu__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
}

.menu__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu__list li {
    margin: 1rem 0;
}

.menu__list * {
    text-decoration: none;
    color: inherit;
    font-size: clamp(1rem, 2vw, 1.1rem);
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.menu__list *:hover {
    color: var(--yellow);
    font-weight: bold;
}